<%- include('./partials/head') %>
<div class="container-fluid mt-4 pt-5 text-center ">
    <div class="row justify-content-center filacontenedor ">
        <h3 class="mt-1 mb-0 pb-0">CENTROS DE LA EMPRESA</h3>
        <i id="icentro" class="material-icons">home_work</i>
        <div class="row justify-content-center m-0 p-0">
            <div class="datosGral">
               

                <div class="personalhead">                        
                   
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Buscar</span>
                            <input type="text" id="buscadorCentro" class="form-control inputwhite" style="background: white;" aria-label="Buscar" aria-describedby="basic-addon1">
                        </div>
                    </div> 
                    <div class=" datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="btnregistrarhead input-group m-0 p-0 input-group-sm">
                            <a id="btnregistrarpersonalmodal" type="button" class="btn " data-bs-toggle="modal" data-bs-target="#modalregistrarpersonal">Nuevo Registro Centro</a>                                                   
                        </div>
                    </div>                 
                   
                </div>




                <div class="tablecentro  col-12 p-0 m-0 d-flex mt-1 flex-column">
                    <H4>LISTA DE CENTROS</H4>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-sm shadow">
                    <thead  class="shadow ">
                        <tr>
                            <th>Id</th>
                            <th>Centro</th>
                            <th>Encargado</th>
                            <th>Ciudad</th>
                            <th>C.P.</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Total Trabajadores</th>    
                            <th>Registrados</th>                                
                        </tr>
                    </thead>
                    <tbody id="tabla-centros">
                        <% listCentro.forEach((item) => { %>
                            <tr>
                                <td class="align-right"><%= item.idCentro %></td>
                                <td class="align-left" data-id="<%= item.idCentro %>"><%= item.nombreCentro %></td>
                                <td class="align-left" data-id="<%= item.idCentro %>"><%= item.encargadoCentro %></td>
                                <td class="align-left" data-id="<%= item.idCentro %>"><%= item.ciudad %></td>
                                <td class="align-right" data-id="<%= item.idCentro %>"><%= item.codigopostal %></td>
                                <td class="align-left" data-id="<%= item.idCentro %>"><%= item.direccionCentro %></td>
                                <td class="align-right" data-id="<%= item.idCentro %>"><%= item.telefonoCentro %></td>
                                <td class="align-left" data-id="<%= item.idCentro %>"><%= item.emailCentro %></td>
                                <td class="align-center" data-id="<%= item.idCentro %>"><%= item.ntrabajadorCentro %></td>
                                <td class="align-center" data-id="<%= item.idCentro %>"><%= item.registrados %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<!--modal registrar personal-->
<!-- Modal -->
<div class="modal fade" id="modalregistrarpersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="exampleModalLabel">Registrar Centro</h1>        
        </div>
        <div class="modal-body">          
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Centro</span>
                    <input type="text" id="txtcentro"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>        
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Encargado</span>
                    <input type="text" id="txtencargado"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>      
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Ciudad</span>
                    <input type="text" id="txtciudad"  class="form-control inputwhite" style="background: white;" aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>    
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Codigo Postal</span>
                    <input type="number" id="txtcodigopostal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>        
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Direccion</span>
                    <input type="text" id="txtdireccion"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>  
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Telefono</span>
                    <input type="number" id="txttelefono"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div> 
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" id="txtemail"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div> 
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Total Trabajadores</span>
                    <input type="number" id="txtpersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div> 
        </div>
        <div class="modal-footer">
                <button type="button" id="btnregistrarcentro" class="shadow btn text-white btn-sm">Registrar</button>
                <button type="button" id="closeRegistrarcentro" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>        
        </div>
        <label id="messageregister"></label>
      </div>
    </div>
  </div>
  <!--fin modal-->

<script src="/js/centros.js"></script>

<%- include('./partials/foot') %>