<%- include('./partials/head') %>

<div class="container-fluid mt-4 pt-5 text-center">
    <div class="row justify-content-center filacontenedor "><!--inicio cabeza-->
        <div class="titulo">
            <h3 >DOCUMENTO ACEPTACIÓN, RENUNCIA R.M.</h3>
            <div class="volver">
                <a href="/home/personalempresa">Ir a Trabajador</a>
            </div>
        </div>
        <div class="datospersonalinformaciongral row g-3">
            <% if (listTrabajador && listTrabajador.length > 0) { %>
                <% listTrabajador.forEach(trabajador => { %>
        
                <div class="subdiv col-12 col-md-4 col-xl-2">
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Código Trabajador:</span>
                            <input type="text" id="idTrabajador" value="<%= trabajador.idTrabajador %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-6">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">N.I.F:</span>
                            <input type="text" id="NIF" value="<%= trabajador.NIF %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                </div>
        
                <div class="subdiv col-12 col-md-8 col-xl-3">
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                            <input type="text" id="nombre" value="<%= trabajador.nombres %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Apellidos</span>
                            <input type="text" id="apellidos" value="<%= trabajador.apellidos %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                </div>
        
                <div class="subdiv col-12 col-md-8 col-xl-3">
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Teléfono</span>
                            <input type="text" id="telefono" value="<%= trabajador.telefono %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Correo Electrónico</span>
                            <input type="text" id="email" value="<%= trabajador.email %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                </div>
        
                <div class="subdiv col-12 col-md-8 col-xl-3">
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Centro de Trabajo</span>
                            <input type="text" id="centro" value="<%= trabajador.nombreCentro %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div> 
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Puesto de Trabajo</span>
                            <input type="text" id="puesto" value="<%= trabajador.Nombre %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>    
                </div>
        
                <% }) %>
            <% } %>
        </div>   
      
        <!--DESDE EL TAB-->
        <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><!--formacion-->
                <form method="POST" action="/home/trabajador/formacion">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajador" name="idTrabajador" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>     
                    <button type="submit" class="nav-link" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Formación</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--informacion-->
                <form method="POST" action="/home/trabajador/informacion">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajador" name="idTrabajador" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>     
                    <button type="submit" class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Información</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--reconocimiento-->
                <form method="POST" action="/home/trabajador/reconocimiento">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajador" name="idTrabajador" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>     
                    <button type="submit" class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Reconocimiento Médico R.M.</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--consentimiento renuncia-->
                <form method="POST" action="/home/trabajador/concentimientorenuncia">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajador" name="idTrabajador" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>     
                    <button type="submit" class="nav-link active" id="activo" data-bs-toggle="tab" data-bs-target="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Aceptación, Renuncia R.M.</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--autorizacion-->
                <form method="POST" action="/home/trabajador/autorizacion">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajador" name="idTrabajador" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>     
                    <button type="submit" class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Autorización</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--epis-->
                <form method="POST" action="/home/trabajador/epis">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajador" name="idTrabajador" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>     
                    <button type="submit" class="nav-link" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Epis</button>
                </form>
            </li>
        </ul>
        
        <div class="tab-content" id="myTabContent">            
            <div class="tab-pane fade show active" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                <!--AQUI EL TAB-->
                <div class="row  filacontenedor "><!--inicio plantillas-->
                    <div class="buttontoggle">
                        <h4 >PLANTILLAS DE ACEPTACIÓN, RENUNCIA R.M.</h4>
                        <button id="toggleButton" class="btn btn-primary">-</button>
                    </div>
                    <div class="datospersonalinformacion ">
                       <div id="tablaContainer" class="table-responsive ">                           
                            <div class="datosGraluploda  ms-0 me-0 p-0 pt-1 pb-1 col-12 col-xl-6">
                                <div class="input-group m-0 p-0 input-group-sm">
                                    <span class="input-group-text" id="basic-addon1">Buscar</span>
                                    <input type="text" id="buscadorinformacionglobal" class="form-control " style="background: white;" placeholder="Escriba" aria-label="Buscar" aria-describedby="basic-addon1">
                                  
                                </div>                           
                            </div>     

                            <div class="table-wrapper overflow-auto" style="max-height: 400px;">
                                <table class="table table-bordered table-striped table-sm shadow">
                                    <thead  class="shadow ">
                                        <tr id="trhead">
                                            <th >Nº</th>
                                            <th>Contrato</th>
                                            <th>Categoria</th>
                                            <th>Documentos</th>                            
                                            <th>Observacion</th>
                                            <th>Registro</th>                            
                                                      
                                            <th id="tdbotonesdescarga">Opciones</th>                                                
                                        </tr>
                                    </thead>
                                    <tbody id="tabla-documentos">
                                        <% listDocumento.forEach((item) => { %>
                                        <tr>                             
                                            <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.n %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.codigoAlterno %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.Categoria %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.documento %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.observacion %></td>
                                            <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.registro %></td>                                           
                                            <td>
                                                <button id="btnverTrabajador" onclick="enviaremailpdf(<%=item.idDocumentoProyecto%>, this)" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.documento %>"> 
                                                    <i id="imail" class="material-icons"><%= "mail" %></i>
                                                    <span class="tooltip-text">Email</span>
                                                </button>
                                                <button id="btnEstadoPersona" onclick="descargarpdf(<%=item.idDocumentoProyecto%>, this)" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.documento %>"> 
                                                    <i id="idescarga" class="material-icons"><%= "cloud_download" %></i>
                                                    <span class="tooltip-text">Descargar</span>
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--plantillas-->
                <div class="row  filacontenedor "><!--inicio plantillas-->
                    <div class="buttontogglePersonal">
                        <h4 >DOCUMENTOS DE ACEPTACIÓN, RENUNCIA R.M. DEL TRABAJADOR</h4>
                        <button id="toggleButtonPersonal" class="btn btn-primary ">+</button>
                    </div>
                    <div class="datospersonalinformacion ">
                        <div id="tablaContainerPersonal" class="table-responsive ">
                            <div class="datosGral ms-0 me-0 p-0 pt-1 pb-1 col-12 col-xl-6">
                                <div class="input-group m-0 p-0 input-group-sm">
                                    <span class="input-group-text" id="basic-addon1">Buscar</span>
                                    <input type="text" id="buscadorinformaciontrabajador" class="form-control " style="background: white;" placeholder="Escriba" aria-label="Buscar" aria-describedby="basic-addon1">
                                    <button id="btncargarTrabajador" data-bs-toggle="modal" onclick="carga()" data-bs-target="#modalsubirpdf" class="btn btn-sm m-0 p-0" > 
                                        Subir Documento PDF                                    
                                    </button>
                                </div>
                            </div>  
                            <div class="table-wrapper overflow-auto" style="max-height: 400px;">
                                <table class="table table-bordered table-striped table-sm shadow">
                                    <thead  class="shadow ">
                                        <tr id="trhead">
                                            <th >Nº</th>
                                            <th>Puesto Trabajado</th>
                                            <th>Certificados</th>
                                            <th>Observacion</th>          
                                            <th>Documentos</th>                                                        
                                            <th>Registro</th>                            
                                            <th id="tdbotonesdescarga">Opciones</th>                                                   
                                        </tr>
                                    </thead>
                                    <tbody id="tablainformaciontrabajador">
                                        <% listDocumentoTrabajador.forEach((item) => { %>
                                        <tr>                             
                                            <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.n %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.PuestoTrabajo %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.Certificado %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.Observacion %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.documento %></td>                                
                                            <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.Registro %></td>
                                            <td>
                                                <button id="btnverTrabajador" onclick="verpdfTrabajador('/home/verpdftrabajador',<%=item.idDocumentoProyecto%>)" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.documento %>"> 
                                                    <i id="ivisilidad" class="material-icons"><%= "visibility" %></i>
                                                    <span class="tooltip-text">Ver</span>
                                                </button>
                                           
                                                <button id="btndescargarTrabajador" onclick="descargarpdfTrabajador(<%=item.idDocumentoProyecto%>, this)" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.documento %>"> 
                                                    <i id="idescarga" class="material-icons"><%= "cloud_download" %></i>
                                                    <span class="tooltip-text">Descargar</span>
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--plantillas-->    
                <!--HASTA AQUI EL TAB--> 
            </div>     
        </div><!--fin cabeza-->
   
</div> 
<!-- Modal -->
<div class="modal fade" id="modalsubirpdf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="uploadForm" class="mt-4" enctype="multipart/form-data" method="POST" action="/home/uploadpdfconcentimiento"> 
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="exampleModalLabel">Subir PDF</h1>        
                </div>
                <div class="modal-body">
                    <div class="datosGral ms-0 me-0 p-0 mb-1">
                        <label class="form-label">Seleccione un Archivo PDF</label>
                        <div class="input-group m-0 p-0 input-group-sm">                          
                            <label id="lblpdffile" for="pdfFile" class=""><i id="idiconssubir" class="material-icons">search</i>                     </label>                        
                            <input type="file" class="custom-file-input" id="pdfFile" name="pdfFile" accept="application/pdf" required>
                            <input type="text" class="form-control" id="fileName" placeholder="Ningún archivo seleccionado" readonly>
                            <input type="hidden" id="pdfFileName" class="form-control"name="pdfFileName">
                        </div>                        
                    </div>
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            
                            <textarea placeholder="Observación" class="form-control" id="Observacion" name="Observacion" rows="4"></textarea>                           
                        </div>
                    </div>
                    <div class="datosGral ms-0 me-0 p-0 col-6 col-sm-6">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">F. Registro</span>
                            <input type="date" id="FAlta" name="FAlta" class="form-control inputwhite" style="background: white;">
                        </div>
                    </div>      
                </div>
                <div class="modal-footer">
                    <% if (listDocumento.length > 0) { %>
                        <% let item = listDocumento[0]; %>                                    
                        <input type="text" hidden id="idDocumentoupload" name="idDocumentoupload" value="<%=item.idDocumentoProyecto%>">
                    <% } %>      
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <input type="text" hidden id="idTrabajadorupload" name="idTrabajadorupload" value="<%= listTrabajador[0].idTrabajador %>">
                    <% } %>              
                 
                    <div id="errorMessage" class="text-danger d-none">Por favor, seleccione un archivo PDF antes de enviar.</div>
                    <button type="button" id="btnregistrarpdf" class="shadow btn text-white btn-sm">Subir</button>                   
                    <button type="button" id="closeRegistrarPersonal" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>        
                </div>
            </div>
        </div>
    </form>
    
</div>
<!--fin modal-->

<script src="/js/concentimientorenuncia.min.js">     
</script>

<%- include('./partials/foot') %>