<%- include('./partials/head') %>
 <p class="m-0 p-0" id="idusuario"> <%= usuario || 'Invitado' %></p>
<div class="container-fluid mt-4 pt-5 text-center">
    <div class="row justify-content-center filacontenedor ">
        <h3 class="mt-1">DOCUMENTOS </h3>
        <h4><%=message[0].Categoria %></h4>
        <i id="ifolder" class="material-icons">folder</i>
        <div class="row justify-content-center m-0 p-0">
            <div class="datosGral">
                <!---->
                <div class="tablecentro col-12  d-flex mt-1 flex-column">
                    <H4>LISTA DE DOCUMENTOS</H4>                    
                </div>
                <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5 mb-1 mt-1">
                    <div class="input-group m-0 p-0 input-group-sm">
                        <span class="input-group-text" id="basic-addon1">Buscar</span>
                        <input type="text" id="buscadordocumento" class="form-control " style="background: white;" placeholder="Escriba" aria-label="Buscar" aria-describedby="basic-addon1">
                    </div>
                </div>                  
                <!---->
                
                <div class="table-responsive ">
                    <div class="table-wrapper overflow-auto" style="max-height: 800px;">
                        <table class="table table-bordered table-striped table-sm shadow">
                    <thead  class="shadow ">
                        <tr id="trhead">
                            <th >Nº</th>
                            <th>Proyecto</th>
                            <th>Centros</th>
                            <th>Documento</th>
                            <th>Observacion</th>
                            <th>Registro</th>                            
                            <th id="tdbotonesdescarga">Descargar</th>                                                   
                        </tr>
                    </thead>
                    <tbody id="tabla-documentos">
                        <% message.forEach((item) => { %>
                            <tr>                             
                                <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.n %></td>
                                <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.Proyecto %></td>
                                <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.Centro %></td>
 
                                <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.documento %></td>
                                <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.observacion %></td>
                                <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.registro %></td>
                                <td>
                                    <button id="btnEstadoPersona" onclick="descargarpdf(<%=item.idDocumentoProyecto%>, this)" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.idTrabajador %>"> 
                                        <i id="idescarga" class="material-icons"><%= "cloud_download" %></i>
                                        <span class="tooltip-text">Descargar Documento</span>
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/js/documentosempresa.min.js"></script>

<%- include('./partials/foot') %>