<%- include('./partials/head') %>
<div class="container-fluid mt-4 pt-5 text-center">
    <div class="row justify-content-center filacontenedor ">
        <h3 class="mt-1">LISTA DE DOCUMENTOS TRABAJADORES</h3>
        <i id="ilistatrabajador" class="material-icons">blur_linear</i>
        <div class="row justify-content-center m-0 p-0">
            <div class="datosGral">
                <!--DATOS GRAL-->
                <div class="personalhead ">
                    <div class="row w-100 m-0">
                        <div id="uno" class="col-12 col-xl-10">
                        <!-- CONTENIDO DE UNO -->
                            <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                                <div class="input-group m-0 p-0 input-group-sm">
                                    <span class="input-group-text" id="basic-addon1">Lista de Centros</span>
                                    <select class="form-select" id="cmbcentrospersonal" aria-label="Selector de filtro">
                                        <option value="" selected>Seleccione un Centro</option>
                                        <% listCentro.forEach(opcion => { %>
                                            <option value="<%= opcion.idCentro %>"><%= opcion.nombreCentro %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="datosGral1 ms-0 me-0 p-0 col-12 col-xl-5">
                                <div class="input-group m-0 p-0 input-group-sm">
                                    <span class="input-group-text" id="basic-addon1">Buscar</span>
                                    <input type="text" id="buscadorpersonal" class="form-control" style="background: white;" placeholder="Escriba" aria-label="Buscar" aria-describedby="basic-addon1">
                                </div>
                                <div class="switch on" onclick="toggleSwitch()">
                                    <div class="slider" id="slider">
                                        Alta
                                    </div>
                                </div>
                            </div>      
                        </div>
                        <!-- FIN CONTENIDO UNO -->
                        <div id="dos" class=" col-12 col-xl-2 d-flex justify-content-end">
                            <a href="/home/personalempresa" id="btnWorkAll" class="folderTrabajadores folders_ d-flex flex-column align-items-center">                
                                <i id="itrabajador_" class="material-icons">engineering</i>
                                <p id="plistatrabajador_"> Trabajadores</p>               
                            </a>     
                        </div>
                    </div>
                </div>
                <!--FIN DATOS GRAL-->
                <div class="tablecentro col-12  d-flex mt-1 flex-column">
                    <H4>LISTA DE TRABAJADORES</H4>
                </div>
                <div class="table-responsive" style="overflow: auto; height: 800px;">
  <div class="table-wrapper table table-bordered table-striped table-sm shadow" style="min-width: 1500px;">
    <table id="tablapersonaT" class="table table-bordered" style="min-width: 1500px;">
      <thead class="shadow">
        <tr id="cabezaUno" >
           <th rowspan="2" class="col-centro">Centro</th>
          <th rowspan="2">N.I.F.</th>
          <th rowspan="2" class="col-nombres">Nombres</th>
          <th rowspan="2" class="col-apellidos">Apellidos</th>
          <th rowspan="2" class="col-puesto">Puesto</th>
          <th rowspan="2" id="fAltaBaja">F. Alta</th>
          <th rowspan="2" >Estado</th>
          <th rowspan="2">A/R Médica</th>
          <th rowspan="2" class="col-obs">A/R Observación</th>
          <th colspan="2" class="col-rm">Rec. Médico</th>
          <th colspan="2">Cursos</th>
          <th colspan="2">Formación</th>
          <th colspan="2">Información</th>
          <th colspan="2">Entrega EPI</th>
          <th colspan="2">Autorización</th>
        </tr>
        <tr id="cabezaDos">
          <th class="col-rm1">Petición</th>
          <th class="col-rm2">Entrega</th>
          <th>Doc.</th>
          <th>Último</th>
          <th>Doc.</th>
          <th>Alta</th>
          <th>Doc.</th>
          <th>Último</th>
          <th>Doc.</th>
          <th>Último</th>
          <th>Doc.</th>
          <th>Último</th>
        </tr>
      </thead>
      <tbody id="tabla-trabajadorT">
        <% listPersonal.forEach((item) => { %>
          <tr>
            <td class="col-ancho"><%= item.centro %></td>
            <td><%= item.nif %></td>
            <td class="col-ancho"><%= item.nombre %></td>
            <td class="col-ancho"><%= item.apellidos %></td>
            <td class="col-ancho"><%= item.puesto %></td>
            <td><%= item.alta %></td>
            <td><%= item.estado %></td>
            <td><%= item.fechaAceptacion %></td>
            <td class="col-ancho"> <%= item.ARObservacion %></td>
            <td class="izqui"><%= item.RM_inicio %></td>
            <td class="derec"><%= item.RM_fin %></td>
            <td class="izqui"><%= item.nCurso %></td>
            <td class="derec"><%= item.fechaCurso %></td>
            <td class="izqui"><%= item.nFormacion %></td>
            <td class="derec"><%= item.fechaFormacion %></td>
            <td class="izqui"><%= item.nInformacion %></td>
            <td class="derec"><%= item.fechaInformacion %></td>
            <td class="izqui"><%= item.nEpis %></td>
            <td class="derec"><%= item.fechaEpis %></td>
            <td class="izqui"><%= item.nAutorizacion %></td>
            <td class="derec"><%= item.fechaAutorizacion %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

            </div>
        </div>
    </div>
</div>


  
<script src="/js/listatrabajadores.min.js"></script>

<%- include('./partials/foot') %>