<%- include('./partials/head') %>
<div class="container-fluid mt-4 pt-5 text-center">
    <div class="row justify-content-center filacontenedor ">
        <h3 class="mt-1">PERSONAL DE LA EMPRESA</h3>
        <i id="itrabajador" class="material-icons">engineering</i>
        <div class="row justify-content-center m-0 p-0">
            <div class="datosGral">
                <!---->
                <div class="personalhead">                        
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Lista de Centros</span>
                            <select class="form-select " id="cmbcentrospersonal" aria-label="Selector de filtro">
                                <option value="" selected>Seleccione un Centro</option>
                                <% listCentro.forEach(opcion => { %>
                                    <option value="<%= opcion.idCentro %>"><%= opcion.nombreCentro %></option>
                                <% }); %>
                            </select>   
                        </div>
                    </div>      
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Buscar</span>
                            <input type="text" id="buscadorpersonal" class="form-control " style="background: white;" placeholder="Escriba" aria-label="Buscar" aria-describedby="basic-addon1">    
                        </div>
                    </div> 
                    <div class=" datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="btnregistrarhead input-group m-0 p-0 input-group-sm">
                            <a id="btnregistrarpersonalmodal" type="button" class="btn " data-bs-toggle="modal" data-bs-target="#modalregistrarpersonal">Nuevo Registro Trabajador</a>                                                   
                        </div>
                    </div>                 
                   
                </div>
                
                
                <!---->
                <div class="tablecentro col-12  d-flex mt-1 flex-column">
                    <H4>LISTA DE PERSONAL</H4>
                </div>
                <div class="table-responsive ">
                    <div class="table-wrapper overflow-auto" style="max-height: 800px;">
                    <table id="tablapersona" class="table table-bordered table-striped table-sm shadow">
                        <thead  class="shadow ">
                            <tr id="trhead">
                                <th>Centro</th>
                                <th>N.I.F.</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Puesto</th>       
                                <th>F. Nac.</th>                      
                                <th>F. Alta</th>
                                <th>F. Baja</th>
                                <th>Estado</th>     
                                <th>Rec. Medico</th>                       
                                <th>Ins. Curso</th>                       
                                <th id="tdbotones">Menu</th>                                                   
                            </tr>
                        </thead>
                        <tbody id="tabla-trabajador">
                            <% listPersonal.forEach((item) => { %>
                                <tr>                             
                                    <td class="align-left" id="tdCentro" data-id="<%= item.idTrabajador %>"><%= item.Centro %></td>
                                    <td class="align-rigth" id="tdNIF" data-id="<%= item.idTrabajador %>"><%= item.NIF %></td>
                                    <td class="align-left" id="tdnombres" data-id="<%= item.idTrabajador %>"><%= item.nombres %></td>
                                    <td class="align-left" id="tdapellidos" data-id="<%= item.idTrabajador %>"><%= item.apellidos %></td>
                                    <td class="align-left" id="tdpuesto" data-id="<%= item.idTrabajador %>"><%= item.Puesto %></td>                             
                                    <td class="align-right" id="tdNac" data-id="<%= item.idTrabajador %>"><%= item.FNac %></td>
                                    <td class="align-right" id="tdregistro" data-id="<%= item.idTrabajador %>"><%= item.Registro %></td>
                                    <td class="align-right" id="tdbaja" data-id="<%= item.idTrabajador %>"><%= item.Baja %></td>
                                    <td class="align-left estado" id="tdestado" data-id="<%= item.idTrabajador %>"><%= item.Estado %></td>       
                                    <td>
                                        <input type="checkbox" class="rm-checkbox large-checkbox" data-id="<%= item.idTrabajador %>">
                                        <div class="inscheckbox">
                                            <label ><%= item.fechaRM %></label>
                                        </div>
                                    </td>
                                    <td >                                       
                                        <input type="checkbox" class="curso-checkbox large-checkbox" data-id="<%= item.idTrabajador %>">
                                        <div class="inscheckboxCurso">
                                            <label ><%= item.fechaCursoOnline %></label>
                                        </div>
                                    </td>                         
                                    <td >
                                        <button id="btnEstadoPersona"  data-bs-toggle="modal" data-bs-target="#modalmodificarpersonal" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.idTrabajador %>"> <i id="iapto"  class="material-icons"><%= "engineering" %></i><span class="tooltip-text">Modificar</span></button>
                                        <button id="btnInformacion" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.idTrabajador %>"><i id="iinformacion"  class="material-icons"><%= "drive_file_move" %></i><span class="tooltip-text">Documentos</span></button>                                 
                                    </td> 
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal registrar personal-->
<!-- Modal -->
<div class="modal fade" id="modalregistrarpersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="exampleModalLabel">Registrar Trabajador</h1>        
        </div>
        <div class="modal-body">
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Centros</span>
                    <select class="form-select " id="cmbcentrospersonalregistro" aria-label="Selector de filtro">                        
                        <% listCentro.forEach(opcion => { %>
                            <option value="<%= opcion.idCentro %>"><%= opcion.nombreCentro %></option>
                        <% }); %>
                    </select>             
                </div>
            </div>   
            <div class="datosGral   ms-0 me-0 p-0 col-5">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">N.I.F.</span>
                    <input type="text" id="nifpersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>        
            <div class="datosGral   ms-0 me-0 p-0 col-7">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Nombres</span>
                    <input type="text" id="nombrepersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>      
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Apellidos</span>
                    <input type="text" id="apellidospersonal"  class="form-control inputwhite" style="background: white;" aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>    
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" id="emailpersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>        
            <div class="datosGral  ms-0 me-0 p-0 col-6">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Telefono</span>
                    <input type="number" id="telefonopersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>  
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Puesto Trabajo</span>
                    <select class="form-select " id="cmbpuestotrabajo" aria-label="Selector de filtro">                        
                        <% listPuesto.forEach(opcion => { %>
                            <option value="<%= opcion.idPuesto %>"><%= opcion.Nombre %></option>
                        <% }); %>
                    </select>             
                </div>
            </div> 
            <div class="datosGral ms-0 me-0 p-0 col-7 col-sm-7">
                <div class="input-group m-0 p-0 input-group-sm ">
                    <span class="input-group-text" id="basic-addon1">F. Nacimiento</span>
                    <input type="date" id="fNac"  class="form-control inputwhite" style="background: white;"  aria-label="fNac"  aria-describedby="basic-addon1">
                </div>
            </div> 
            <div class="datosGral ms-0 me-0 p-0 col-7 col-sm-7">
                <div class="input-group m-0 p-0 input-group-sm ">
                    <span class="input-group-text" id="basic-addon1">F. Registro</span>
                    <input type="date" id="FAlta"  class="form-control inputwhite" style="background: white;"  aria-label="FAlta"  aria-describedby="basic-addon1">
                </div>
            </div>         
           
        </div>
        <div class="modal-footer">
                <button type="button" id="btnregistrarpersonal" class="shadow btn text-white btn-sm">Registrar</button>
                <button type="button" id="closeRegistrarPersonal" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>        
        </div>
        <label id="messageregister"></label>
      </div>
    </div>
  </div>
  <!--fin modal-->

<!--modal modificar personal-->
<!-- Modal -->
<div class="modal fade" id="modalmodificarpersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="exampleModalLabel">Modificar Trabajador</h1>        
        </div>
        <div class="modal-body">
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Centros</span>
                    <select class="form-select " id="Ucmbcentrospersonalmodificar" aria-label="Selector de filtro">                        
                        <% listCentro.forEach(opcion => { %>
                            <option value="<%= opcion.idCentro %>"><%= opcion.nombreCentro %></option>
                        <% }); %>
                    </select>             
                </div>
            </div>   
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">N.I.F.</span>
                    <input type="text" id="Unifpersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1" value="">
                </div>
            </div>        
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Nombres</span>
                    <input type="text" id="Unombrepersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>      
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Apellidos</span>
                    <input type="text" id="Uapellidospersonal"  class="form-control inputwhite" style="background: white;" aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>    
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <input type="text" id="Uemailpersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>        
            <div class="datosGral  ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Telefono</span>
                    <input type="number" id="Utelefonopersonal"  class="form-control inputwhite" style="background: white;"  aria-label="Username"  aria-describedby="basic-addon1">
                </div>
            </div>  
            <div class="datosGral   ms-0 me-0 p-0 ">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Puesto Trabajo</span>
                    <select class="form-select " id="Ucmbpuestotrabajo" aria-label="Selector de filtro">                        
                        <% listPuesto.forEach(opcion => { %>
                            <option value="<%= opcion.idPuesto %>"><%= opcion.Nombre %></option>
                        <% }); %>
                    </select>             
                </div>
            </div> 
            <div class="datosGral ms-0 me-0 p-0 col-7 col-sm-7">
                <div class="input-group m-0 p-0 input-group-sm ">
                    <span class="input-group-text" id="basic-addon1">F. Registro</span>
                    <input type="date" id="UFAlta"  class="form-control inputwhite" style="background: white;"  aria-label="FAlta"  aria-describedby="basic-addon1">
                </div>
            </div>     
            <div class="datosGral ms-0 me-0 p-0 col-7 col-sm-7">
                <div class="input-group m-0 p-0 input-group-sm ">
                    <span class="input-group-text" id="basic-addon1">F. Nacimento</span>
                    <input type="date" id="UFNac"  class="form-control inputwhite" style="background: white;"  aria-label="FAlta"  aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="datosGral ms-0 me-0 p-0 col-7 col-sm-7">
                <div class="input-group m-0 p-0 input-group-sm ">
                    <span class="input-group-text" id="basic-addon1">F. de Baja</span>
                    <input type="date" id="UFBaja"  class="form-control inputwhite" style="background: white;"  aria-label="FAlta"  aria-describedby="basic-addon1">
                </div>
            </div>     
            <div class="datosGral ms-0 me-0 p-0 col-7 col-sm-7">
                <div class="input-group m-0 p-0 input-group-sm">
                    <span class="input-group-text" id="basic-addon1">Estado</span>
                    <select class="form-select " id="Ucmbestado" aria-label="Selector de filtro">                        
                      
                            <option value="H">Alta</option>
                            <option value="D">Baja</option>
                    </select>             
                </div>
            </div>     
        </div>
        <div class="modal-footer">
                <button type="button" id="btnmodificarpersonal" class="shadow btn text-white btn-sm">Modificar</button>
                <button type="button" id="closemodificarPersonal" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>       
                <input type="text" id="UidTrabajador"  class="form-control inputwhite" style="background: white;"  aria-label="UidTrabajador" hidden  aria-describedby="basic-addon1"> 
        </div>
        <label id="messagemodify"></label>
      </div>
    </div>
  </div>
  <!--fin modal-->

  
<script src="/js/personal.js"></script>

<%- include('./partials/foot') %>