<%- include('./partials/head') %>

<div class="container-fluid mt-4 pt-5 text-center">
    <div class="row justify-content-center filacontenedor "><!--inicio cabeza-->
        <h3 class="mt-1">FORMACION DEL TRABAJADOR</h3>
        <div class="datospersonalinformaciongral row g-3">
            <% if (listTrabajador && listTrabajador.length > 0) { %>
                <% listTrabajador.forEach(trabajador => { %>
        
                <div class="subdiv col-12 col-md-4 col-xl-2">
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Código Trabajador:</span>
                            <input type="text" id="idTrabajador" value="<%= trabajador.idTrabajador %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-6">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">N.I.F:</span>
                            <input type="text" id="NIF" value="<%= trabajador.NIF %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                </div>
        
                <div class="subdiv col-12 col-md-8 col-xl-3">
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Nombre</span>
                            <input type="text" id="nombre" value="<%= trabajador.nombres %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Apellidos</span>
                            <input type="text" id="apellidos" value="<%= trabajador.apellidos %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                </div>
        
                <div class="subdiv col-12 col-md-8 col-xl-3">
                    <div class="datosGral ms-0 me-0 p-0 col-12 col-xl-5">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Teléfono</span>
                            <input type="text" id="telefono" value="<%= trabajador.telefono %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Correo Electrónico</span>
                            <input type="text" id="email" value="<%= trabajador.email %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>  
                </div>
        
                <div class="subdiv col-12 col-md-8 col-xl-3">
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Centro de Trabajo</span>
                            <input type="text" id="centro" value="<%= trabajador.nombreCentro %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div> 
                    <div class="datosGral ms-0 me-0 p-0">
                        <div class="input-group m-0 p-0 input-group-sm">
                            <span class="input-group-text" id="basic-addon1">Puesto de Trabajo</span>
                            <input type="text" id="puesto" value="<%= trabajador.Nombre %>" class="form-control inputwhite" style="background: white;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>    
                </div>
        
                <% }) %>
            <% } %>
        </div>   
        <!--DESDE EL TAB-->
        <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation"><!--formacion-->
                <form method="POST" action="/home/trabajador/formacion">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <% listTrabajador.forEach(trabajador => { %>
                            <input type="hidden"      id="idTrabajador" name="idTrabajador" value="<%= trabajador.idTrabajador %>">
                        <% }) %>
                    <% } %>
                    <button type="submit" class="nav-link " id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Formación</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--informacion-->
                <form method="POST" action="/home/trabajador/informacion">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <% listTrabajador.forEach(trabajador => { %>
                            <input type="hidden"     id="idTrabajador" name="idTrabajador" value="<%= trabajador.idTrabajador %>">
                        <% }) %>
                    <% } %>
                    <button type="submit" class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Información</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--reconocimiento-->
                <form method="POST" action="/home/trabajador/reconocimiento">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <% listTrabajador.forEach(trabajador => { %>
                            <input type="hidden"    id="idTrabajador" name="idTrabajador" value="<%= trabajador.idTrabajador %>">
                        <% }) %>
                    <% } %>
                    <button type="submit" class="nav-link active" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Reconocimiento Médico R.M.</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--consentimiento renuncia-->
                <form method="POST" action="/home/trabajador/concentimientorenuncia">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <% listTrabajador.forEach(trabajador => { %>
                            <input type="hidden"   id="idTrabajador1" name="idTrabajador" value="<%= trabajador.idTrabajador %>">
                        <% }) %>
                    <% } %>
                    <button type="submit" class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Consentimiento, Renuncia R.M.</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--autorizacion-->
                <form method="POST" action="/home/trabajador/autorizacion">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <% listTrabajador.forEach(trabajador => { %>
                            <input type="hidden"  id="idTrabajador" name="idTrabajador" value="<%= trabajador.idTrabajador %>">
                        <% }) %>
                    <% } %>
                    <button type="submit" class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Autorización</button>
                </form>
            </li>
            <li class="nav-item" role="presentation"><!--epis-->
                <form method="POST" action="/home/trabajador/epis">
                    <% if (listTrabajador && listTrabajador.length > 0) { %>
                        <% listTrabajador.forEach(trabajador => { %>
                            <input type="hidden" id="idTrabajador" name="idTrabajador" value="<%= trabajador.idTrabajador %>">
                        <% }) %>
                    <% } %>
                    <button type="submit" class="nav-link" id="tab6-tab" data-bs-toggle="tab" data-bs-target="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Epis</button>
                </form>
            </li>
        </ul>
        
        <div class="tab-content " id="myTabContent">            
            <div class="tab-pane fade show active" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                <!--AQUI LA TABLA-->         
                <div class="row  filacontenedor "><!--inicio plantillas-->
                    <div class="buttontogglePersonal">
                        <h4 >DOCUMENTOS DE RECONOCIMIENTO MEDICOS DEL TRABAJADOR</h4>
                        <button id="toggleButtonPersonal" class="btn btn-primary ">-</button>
                    </div>
                    <div class="datospersonalinformacion ">
                        <div id="tablaContainerPersonal" class="table-responsive ">                    
                            <div class="datosGral ms-0 me-0 p-0 pt-1 pb-1 col-12 col-xl-6">
                                <div class="input-group m-0 p-0 input-group-sm">
                                    <span class="input-group-text" id="basic-addon1">Buscar</span>
                                    <input type="text" id="buscadorinformaciontrabajador" class="form-control " style="background: white;" placeholder="Escriba" aria-label="Buscar" aria-describedby="basic-addon1">
                                </div>
                            </div>  
                            <div class="table-wrapper overflow-auto" style="max-height: 400px;">
                                <table class="table table-bordered table-striped table-sm shadow">
                                    <thead  class="shadow ">
                                        <tr id="trhead">
                                            <th >Nº</th>
                                            <th>Puesto Trabajado</th>
                                            <th>Certificados</th>
                                            <th>Observacion</th>          
                                            <th>Documentos</th>                                                        
                                            <th>Registro</th>                            
                                            <th id="tdbotonesdescarga">Descargar</th>                                                   
                                        </tr>
                                    </thead>
                                    <tbody id="tablainformaciontrabajador">
                                        <% listDocumentoTrabajador.forEach((item) => { %>
                                        <tr>                             
                                            <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.n %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.PuestoTrabajo %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.Certificado %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.Observacion %></td>
                                            <td class="text-start" data-id="<%= item.idDocumentoProyecto %>"><%= item.documento %></td>                                
                                            <td class="text-end" data-id="<%= item.idDocumentoProyecto %>"><%= item.Registro %></td>
                                            <td>
                                                <button id="btndescargarTrabajador" onclick="descargarpdfTrabajador(<%=item.idDocumentoProyecto%>, this)" class="btn btn-sm m-0 p-0 select-id-btn btnidpersonalfila" data-id="<%= item.documento %>"> 
                                                    <i id="idescarga" class="material-icons"><%= "cloud_download" %></i>
                                                    <span class="tooltip-text">Descargar Documento</span>
                                                </button>
                                            </td>
                                        </tr>
                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--plantillas-->     
                <!--HASTA AQUI LA TABLA--> 
                
            </div>     
        </div><!--fin cabeza-->
   
</div> 

<script src="/js/reconocimientomedico.js">     
</script>

<%- include('./partials/foot') %>